body {
    background-image: url("https://kgeary.github.io/web-apis/assets/images/5-dots.png");
}

#header {
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.list-heading {
    margin-bottom: 2rem;
}

/* HEADER */
#high-scores-link:hover {
    text-decoration: none;
    color: whitesmoke;
}

#time {
    color: whitesmoke;
}

#current-time, #final-time {
    font-weight: bold;
}

/* MAIN CONTENT */
#wrapper {
    background-color: whitesmoke;
    width: 90%;
    max-width: 960px;
    min-height: 400px;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

/* Non-default screens */
#start-screen,
#question-screen,
#result-screen,
#scores-screen {
    display: none;
}

/* QUIZ SELECT SCREEN */
#quiz-select-list {
    list-style-type: none;
    padding: 0;
} 

#quiz-select-list button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* START SCREEN */
#start-screen {
    text-align: center;
    margin: auto;
}

#start-screen p:last-of-type {
    padding-bottom: 2rem;
}

#start {
    margin: auto;
}

/* QUESTION SCREEN */
#response-list {
    list-style-type: none;
    text-align: left;
}

.btn-choice {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 15px;
    margin: 0.25rem;
}

.btn-choice:hover {
    color: yellow;
}

#response-correct {
    visibility: hidden;
    border-top: 1px solid gray;
    margin-top: 1rem;
    font-style: italic;
    font-size: 16px;
}

/* High Scores List */
#high-score-list {
    list-style-position: inside;
    padding-left: 0;
}
.score-item {
    border-radius: 10px;
    padding: 0.25rem 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.score-item.current {
    border: 1px solid #446E9B;
    font-weight: bold;
}
