.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#wrapper {
    background-color: whitesmoke;
    width: 75%;
    min-height: 400px;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

#start {
    margin: auto;
}

#start-screen {
    text-align: center;
    margin: auto;
}

#start-screen p {
    padding: 2rem;
}

#question-screen,
#result-screen,
#scores-screen {
    display: none;
}

#question-text {
    margin-bottom: 2rem;
}

#response-list {
    list-style-type: none;
    text-align: left;
}

.btn-choice {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 15px;
    margin: 0.25rem;
}

#response-correct {
    visibility: hidden;
    border-top: 1px solid gray;
    margin-top: 1rem;
    font-style: italic;
    font-size: 16px;
    color: gray;
}
/* High Scores List */
ol {
    list-style-position: inside;
    padding-left: 0;
}
ol li {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    padding: 0.25rem 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}